<table *ngIf="employee">
  <thead>
    <tr>
      <td [attr.colspan]='colSpan'>
        Employee Details
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        code:
      </td>
      <td>
        {{employee.code}}
      </td>
    </tr>
    <tr>
      <td>
        name:
      </td>
      <td>
        {{employee.name}}
      </td>
    </tr>
    <tr *ngIf="showDetails">
      <td>
        gender:
      </td>
      <td>
        {{employee.gender}}
      </td>
    </tr>
    <tr *ngIf="showDetails">
      <td>
        birth date:
      </td>
      <td>
        {{employee.dateOfBirth}}
      </td>
    </tr>
  </tbody>
</table>
<br />
<button (click)="toggleDetails()" class="btn btn-primary" > {{(showDetails) ? 'Hide' : 'Show' }} Details</button>
<br/>
<button (click)="onBackClicked()" class="btn btn-primary"> Back </button>
<br />
<br />
<!--<input [value]="name" (input)="textInput($event)" />
<br />
<span>you entered: {{name}}</span>
<br />
<br />
<input [(ngModel)]="twoWay"/>
<br />
<span>you entered: {{twoWay}}</span>-->
